@charset "UTF-8";

/* Imagem */
.img-user-form {
    width: 160px;
    border-radius: 100%;
}

.fort-icon30pt {
    font-size: 30pt;
}

.fort-icon40pt {
    font-size: 40pt;
}

#cabecalho {
    background-color: #1d6fc2ff;
}