@charset "UTF-8";

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(241, 241, 241);
}

.img-user-form {
    width: 200px;
}

.fort-icon20pt {
    font-size: 20pt;
}

.fort-icon30pt {
    font-size: 30pt;
}

.fort-icon40pt {
    font-size: 40pt;
}

#cabecalho {
    background-color: rgb(0, 0, 0);
}

#navbar {
    background-color: #002473;
    color: white;
}

.formulario-admin {
    background-color: #ffffff;
    width: 600px;
    padding: 30px 80px;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 0 0 40px #000000;
}

.btn-logar {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input.leitura:focus {
    outline: none;
}

input.leitura {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-size: 17px;
}