@charset "UTF-8";

/* Imagem */
.img-user-form {
    width: 160px;
}

.fort-icon20pt {
    font-size: 20pt;
}

.fort-icon30pt {
    font-size: 30pt;
}

.fort-icon40pt {
    font-size: 40pt;
}

#cabecalho {
    background-color: rgb(0, 0, 0);
}